## Importing Required Libraries

In [34]:
import pandas as pd
import numpy as np
pd.__version__

'1.0.5'

## Reading the Wiki Site as pd

In [35]:
link =pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [36]:
type(link)

list

## Unfiltered Dataframe

In [37]:
df=link[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [38]:
df.shape

(180, 3)

## Filtered Final Data

In [39]:
df_filt = df[~df['Borough'].str.contains("Not assigned")] 
df_filt.reset_index(inplace = True)
df_filt.drop('index',axis=1,inplace = True)
df_filt.head()

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [40]:
df_filt['Postal Code'].value_counts()

M6C    1
M4X    1
M4P    1
M9C    1
M4H    1
      ..
M9W    1
M3B    1
M4N    1
M7R    1
M8X    1
Name: Postal Code, Length: 103, dtype: int64

In [41]:
df_filt.shape

(103, 3)